html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

/* Audio Toggle Button */
#audioBtn {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 48px;
  color: white;
  cursor: pointer;
  user-select: none;
}
